.All {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(159, 192, 255);
}

.jogada {
    font-size: 100px;

}
.Placar{
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}

.Botoes {
    position: fixed;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, 0);
}

.title-jogadores {
    align-self: center;
    justify-self: center;
}

.Tabuleiro {
    display: grid;
    grid-template-columns: repeat(3, 203px);
    grid-template-rows: repeat(3, 200px);
}

.box {
    width: 203px;
    height: 200px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
}


.A1 {
    border-bottom: 8px solid black;
    border-right: 8px solid black;
}

.A2 {
    border-bottom: 8px solid black;
    border-right: 8px solid black;
    border-left: 8px solid black;
}

.A3 {
    border-bottom: 8px solid black;
    border-left: 8px solid black;
}

.B1 {
    border-top: 8px solid black;
    border-bottom: 8px solid black;
    border-right: 8px solid black;
}

.B2 {
    border: 8px solid black;
}

.B3 {
    border-top: 8px solid black;
    border-bottom: 8px solid black;
    border-left: 8px solid black;
}

.C1 {
    border-top: 8px solid black;
    border-right: 8px solid black;
}

.C2 {
    border-top: 8px solid black;
    border-right: 8px solid black;
    border-left: 8px solid black;
}

.C3 {
    border-top: 8px solid black;
    border-left: 8px solid black;
}
